accelerate==0.30.0 # because `TypeError: Accelerator.__init__() got an unexpected keyword argument 'use_seedable_sampler'`
googletrans==3.1.0a0
ipywidgets  # for IProgress and progress bar in notebooks
jupyter
jupyter_contrib_nbextensions # for IProgress and progress bar in notebooks
kaggle
mlcm  # confusion matrix
optimum[onnxruntime-gpu]  # to further compress SetFit models for faster inference & deployment on GPU using Optimum Onnx
sacremoses  # needed by flauBERT
setfit  # SetFit is an efficient and prompt-free framework for few-shot fine-tuning of Sentence Transformers.
stanza  # to split texts into sentences: AFTER python -c 'import stanza; stanza.download("fr")'
textattack
textaugment  # After import nltk; nltk.download('punkt'); nltk.download('wordnet')
textblob==0.17.1
tf-keras  # because `Your currently installed version of Keras is Keras 3, but this is not yet supported in Transformers.`
torch-tb-profiler  # for the Tensorboard plugin of VS Code
wandb
widgetsnbextension  # AFTER in shell $> jupyter nbextension enable --py widgetsnbextension # for IProgress and progress bar in notebooks